# Configurar o repositório padrão do npm
registry=https://registry.npmjs.org/

# Configurar um mirror alternativo para o npm (Yarn)
yarn:registry=https://registry.yarnpkg.com/

# Configurar um repositório alternativo para npm (Taobao, popular na China)
taobao:registry=https://registry.npmmirror.com/

# Configurar um mirror de npm de Cloudflare
cloudflare:registry=https://registry.npmjs.cf/
